<div data-ng-controller="PortfolioController">
<h3 data-ng-show="lang === 'en'"><i class="fa fa-briefcase"></i> Portfolio</h3>
<h3 data-ng-show="lang === 'ru'"><i class="fa fa-briefcase"></i> Портфолио</h3>
  <div class="item example" data-ng-repeat="document in documents">
    <img data-ng-src="{{document.screenshot}}" alt="{{document.title}}">
    <h4 data-ng-bind-html="document.title"></h4>
    <div data-ng-bind-html="document.description"></div>
  </div>
  <div class="centered">
  	<pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" class="pagination-sm" direction-links="false"></pagination>
  </div>
</div>

<!-- <a href="http://fabrique-den2710.rhcloud.com/" target="_blank">E-Commerce made with Express.js, MySQL <i class="fa fa-external-link"></i></a> -->